.ufibra-navbar {
  background-color: #ffffff;
  border: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
<<<<<<< HEAD
=======

.ufibra-logo img {
  margin-top: 23px;
}
>>>>>>> master
