.default-header {
  background-image: url('/images/fitness.jpg');
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  width: 100%;
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.default-header__text {
  color: #2eb2ff;
}
