.hot-container .hot {
  margin: 1.0em;
}

.hot-container h3 {
  color: #2eb2ff;
  font-weight: 700;
}

.hot-container .card {
  border: 1px solid #87f142;
}

.hot-container .card-img-top {
  max-width: 200px;
}

